
.about-header{
    background-image: url(/UI/Images/banner.png);
    background-repeat: no-repeat;
    background-size: 1600px;
    height: 500px;
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-align: center;
    
}

.about-header span{
    line-height: 700px;
}

.about-content{
    padding-top: 50px;
}
.about-demo{
    padding-left: 0px;
    box-shadow: 3px 4px 3px;
}

.about-demo .image-1{
    float: left;
    padding-left: 10px;
}

.about-demo .image-2{
    margin-left: -50px;
}

.demo-content > h3{
    font-size: 40px;
    font-weight: 350;
}
.card{
    border: none;
}

.card-text{
    font-size: 16px;
    width: 400px;
}
.card-text > h3{
    padding-top: 80px;
    font-weight: bold;
}

.about-advantages{
    text-align: center;
}
.content-advantage{
    text-align: center;
    padding-top: 150px;
    margin: 25px 100px;
}

.about-advantages a{
    color: black;
    text-decoration: none;
    border-bottom: 1px dashed black;
    font-size: 18px;
}

.about-advantages a:hover{
    transition: 0.5s;
    font-size: 20px;
}

.advant-content{
    background-color: rgb(25,21,20);
    color: white;
    margin-left: -15px;
    height: 500px;
    padding: 100px 25px;

}

.advant-content a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 350;
}

.about-advantages .details{
    align-content: center;
    margin-left: 200px;
}
.advant-image{
    margin-right: -15px;
}

.advant-image img{
    height: 500px;
}

.about-video{
    padding-top: 100px;
}

.about-video video{
    margin-left: 5%;
}

.about-guest h1{
    text-align: center;
    margin: 100px 0px 20px;
}


.about-guest .row .info-guest, .content-guest{
    z-index: 100px;
}

.about-guest .row .guest-1{
    
    height: 500px;
    background-image: url(/UI/Images/guest1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.about-guest .row .guest-2{
    color: white;
    margin: 50px 0px 50px 15px;
    height: 500px;
    background-image: url(/UI/Images/guest2.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-guest .row .guest-3{
    color: white;
    margin: 0px 15px;
    height: 500px;
    background-image: url(/UI/Images/guest3.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-guest .row .guest-1 .info-guest{
    text-align: center;
    padding-top: 160%;
    font-weight: bold;
}

.about-guest .row .guest-1 .content-guest{
    display: none;
}

.about-guest .row .guest-1 h2:hover{
    background-color: rgba(0, 0, 0, 0.12);
}

.about-guest .row .guest-2 .info-guest{
    text-align: center;
    padding-top: 160%;
    font-weight: bold;
}

.about-guest .row .guest-2 .content-guest{
    display: none;
}

.about-guest .row .guest-2 a:hover{
    display:block;
    background-color: rgba(0, 0, 0, 0.2);
}
.about-guest .row .guest-2 a{
    text-decoration: none;
    color: white;
}
.about-guest .row .guest-3 .info-guest{
    text-align: center;
    padding-top: 160%;
    font-weight: bold;
}

.about-guest .row .guest-3 .content-guest{
    display: none;
}

.about-slider{
    background-color: rgb(184,110,90);
    height: 250px;
}
.slide-content{
    color: white;
    font-size: 25px;
    padding: 20px 50px 0px 150px;
}

.about-slider .container .row .detail{
   margin-left: 100px;
}
.fw-bold{
    padding-top: 270px;
}
