/*===Box Sizing==*/

* {
    box-sizing: border-content;
    -moz-box-sizing: border-content;
    -webkit-box-sizing: border-content;
}

.container {
    overflow: auto;
}

.blog_left_sidebar {
    float: left;
}

.blog-right-sidebar {
    float: right;
}

article {
    display: block;
}

.blog_item {
    margin-bottom: 50px;
}

.fw-bold {
    padding-top: 270px;
}

.right-item {
    background: #fbf9ff;
    padding: 30px;
    margin-bottom: 30px;
}

#content {
    margin-top: 100px;
}

ul.cat-list {
    list-style: none;

}
ul.cat-list li {
    border-bottom: 1px solid rgb(240,233,255);
}
ul.cat-list li a {
    font-size: 16px ;
    color: rgb(161,129,126);
    padding: 25px 20px 0px;
}
.media_post_item {
    padding: 25px 20px 0px;
}

ul {
    margin: 0px;
    padding: 0px;
}

ul.list li a  {
   color: rgb(136,157,193)
}
li {
    text-align: -webkit-match-parent;
}