
h5{
    color:#2a2a2a;
    font-size: 15px;
}

.custom-bg{
    /* border-top-color: #2ec1ac !important; */
    background: #fff;
    color: #E29C89 !important;
    display: inline-block;
    padding: 12px 31px;
    font-size: 14px;
    font-weight: 400;
    border: 0;
    border: 1px solid #E29C89;
    letter-spacing: 1px;
    text-align: center;
    color: #E29C89;
    text-transform: uppercase;
    cursor: pointer;
    color: #E29C89;
}
.custom-bg:hover {
    background: #E29C89;
    color: #fff !important;
    border: 1px solid #E29C89
}
input{
    border: 1px solid #e5e6e9;
    border-radius: 0px;
}
textarea{
    border: 1px solid #e5e6e9;
    border-radius: 0px;
}
input::placeholder{
    color: #999999;
    font-size: 12px;
}
textarea::placeholder{
    color: #999999;
    font-size: 12px;
}
a,i{
    color: #8a8a8a;
}
.fw-bold{
    padding-top: 270px;
}