
footer{
    width: 100%;
    height: 40%;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    /* position: fixed; */
    bottom: 0;
    padding: 50px;
    color: #fff;
    background-color: black;
}
footer>div{
    margin-left: 60px;
    width:200px;
    height: 250px;
}

footer>div h2{
    color: goldenrod;
}

ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: goldenrod;
}

.hotel{
    flex: 2;
}

.link{
    flex: 1;
}

.information{
    flex:1;
}

.help{
    flex: 1;
}