*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: rgb(34, 32, 34,0.5);
    
}

.banner{
    width: 100%;
    min-height: 500px;
    background-image: url("/UI/Images/banner.png");
    background-size: cover;
}

.logo{
    color: #fff;
    user-select: none;
}



.navigation > a{
    text-decoration: none;
    color: #fff;
    position: relative;
    margin-left: 30px;
}


.navigation > a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform-origin: left;
    transform: scaleX(0);
    transition: 0.5s;

}

.navigation > a:hover::after{
    transform: scaleX(1);
}


.btnlogin-popup{
    width:130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    color: #fff;
    margin-left: 30px;
}

.btnlogin-popup a{
    padding: 15px 47px;
    text-decoration: none;
    color: #fff;
}


.btnlogin-popup a:hover{
    color:black;
}


.btnlogin-popup:hover {
    background-color: #fff;
    color: black;
    cursor: pointer;
    transition: 0.8s;
    transform: matrix();
}



