.introduce {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
}

.btn {
    color: rgb(243, 99, 123);
    outline: auto;
}

.introduce_title {
    margin: 0 40px;
}

.introduce_title_p {
    font-family: "Baskervville", serif;
    font-size: 42px;
    display: block;
    font-weight: 400;
    line-height: 1.3;
}

.introduce_title_detail {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.8;
    color: #656565;
    margin-bottom: 30px;
}

.introduce_title_button button {
    font-size: 20px;
}

.section_title {
    font-family: "Baskervville", serif;
    font-size: 42px;
    display: block;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 10px;
}

.section_body_detail {
    height: 518px;
    width: 520px;
    background-color: black;
    color: white;
}

.section_body_detail_advantage {
    color: #ffff;
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 30px;
    font-weight: 400;
    display: block;
    text-align: center;
    padding: 30px 0;
}

.section_body_detail_concept {
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 40px;
    text-align: center;

}

.introduce_title_button {
    text-align: center;
}
/* Css banner start */
.fw-bold {
    padding-top: 250px;
}

#formcheckavailibity {
    margin-top: 20px;
    color: #fff;
    margin-left: 115px;
    font-size: 24px;
}

#formcheckavailibity input {
    background-color: rgba(0, 0, 0, -2.5);
    color: white;
    border: none;
    border-bottom: 1px solid;
}
#formcheckavailibity select{
    background-color: rgba(0, 0, 0, -2.5);
    color: #fff;
}
#formcheckavailibity select option{
    color: black;
}
/* css banner end */