*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("/UI/Images/banner.png");
    
    background-repeat: no-repeat;
}
.container-login-register{
    position: relative;
    min-width: 400px;
    min-height: 440px;
    width: 30%;
    height: 65%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    width: 100%;
    padding: 40px;
}



.form-container h2{
    text-align: center;
}

.form-container form{
    display: flex;
    flex-direction: column;
}

.input-box{
    position: relative;
    width: 100%;
}

.input-box input{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    margin: 10px 0;
}

.input-box input:focus{
    border: 1px solid gray;
    box-shadow: 0 0 5px 1px gray;
}


form{
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-form .option-login{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 0;
}

.content-login .checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}


form button{
    height: 40px;
    width: 50%;
    border-radius: 20px;
    border: none;
    margin: 10px 0;
    background-color: rgb(179, 157, 38);
}

form button:hover{
    cursor: pointer;
    background-color: goldenrod;
}


#login-form button  a{
    padding: 13px 63px;
    border-radius: 10px;
}

form .login-register{
    display: flex;
    justify-content: center;
}

form a{
    text-decoration: none;
    color: rgb(69, 69, 182);
}

form a:hover{
    color: rgb(127, 127, 218);
}

#register-form{
    display: none;
}

#regiter-form .option-login {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

#register-form button  a{
    padding: 13px 54px;
    border-radius: 10px;
}