
.container_room{
    margin: 100px 200px;

}
.container_room_header_title{
    font-family: "Baskervville",serif;
    font-size: 42px;
    display: block;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 12px;
}  
.container_room_header_text{
    color: #656565;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Jost",sans-serif;
}
.container_room_body{
    display: flex;
    position: relative;
    margin-right: 20px;
}
.container_room_body_main{
    display: flex;
    margin-bottom: 20px;
}
.container_room_body_text{
  position: absolute;
  bottom: 40px;
  left: 40px;
}
.text_header{
    color: #fff;
    display: inline-block;
    font-size: 32px;
    font-weight: 400;
}
.text_quantity{
    color: #fff;
    font-weight: 300;
    font-size: 16px;
}

.text_price{
    margin-bottom: 10px;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
}
.text_price span{
    font-size: 24px;
    font-weight: 400;
    display: inline-block;
    color: #fff;
    margin: 0;
    margin-left: 12px;
}
.fw-bold{
    padding-top: 270px;
}